@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Nunito:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url("img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: top right;
    
}

header {
    display: flex;
    /*flex-wrap: wrap */
    justify-content: space-around;
    padding: 75px 190px ;
    width: 100%;
}

header div img {
    width: 200px;
    color: #242E52;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    color: #242E52;
    list-style: none;
    font-size: 13px;
    margin-left: 10px;    
}
 #menuIcon {
     display: none;
 }

header nav ul li {
    margin-left: 20px;
}

header div button {
    background-color:#F3603B;
    color: #FFFFFF;
    border: none;
    padding: 12.50px 30.50px ;
    border-radius: 50px;
}
body main {
    width: auto;
}

.together { 
    display: flex;
    justify-content: space-evenly;   
    margin:0;
}

#bring {
    padding: 120px;
}

.together h2 {
    color: #232C50;
    font-size: 60px;
    font-weight: bold;
    line-height: 66px;
    letter-spacing: 0.5px;
}

.together p {
    color: #000000;
    font-size: 16.56px;
    line-height: 26px;
    margin-right: 120px; 
    margin-top: 10px;  
}

.together button{
    background-color:#F3603B;
    color: #FFFFFF;
    border: none;
    padding: 12.50px 30.50px ;
    border-radius: 50px;
    margin-top: 30px;
}

#imagengrupal {
   padding:60px;
}

.aboutmanage {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}


.aboutmanage div h3 {
    color: #232851;
    font-size: 36px;
    font-weight: bold;
}

.aboutmanage p {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    margin-right: 150px;
    margin-top: 10px;
    line-height: 24px;
}

body main section div:nth-child(2) h4{
    color:#323851;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: -0.015em;
    padding-top:18px ;
    padding-bottom:18px;
    margin-left: 80px;
}

body main section div:nth-child(2) h4 span{
    background-color: #F3603B;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 30px; 
    margin-right: 10px;
}

body main section div:nth-child(2) p{
    color: #B3B2B7;
    font-size: 16.30px;
    font-weight: 500;
    margin-left: 150px;
}

body main section:nth-child(3) h5 {
    color: #242E53;
    font-size: 39px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

body main section:nth-child(3) div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}

body main section:nth-child(3) div article{
    display: inline-block;
    position: relative;
    text-align:center;
    margin: 50px;
}

body main section:nth-child(3) div article img{
    position: relative;
}

body main section:nth-child(3) div article h6{
    text-align: center;
    color: #3F4868;
    font-size: 17px;
    font-weight: bold;
    padding: 20px 20px ;
}

body main section:nth-child(3) div article p{
    display: inline-block;
    padding: 20px;
    margin: 0;
    color: #B9B9C1;
    font-size: 16px;
    line-height: 30px;
    flex-grow: 1;
}

body main section:nth-child(3) button {
    position: relative;
    left: 610px;
    background-color:#F3603B;
    color: #FFFFFF;
    border: none;
    padding: 12.50px 30.50px ;
    border-radius: 50px;
    margin: 20px;
}

body main section:nth-child(4){
    background-color:#F3613C;
    margin-top: 150px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    align-items: center;
    padding: 64px 165px;
}

body main section:nth-child(4) p{
    color: white;
    font-size: 40px;
    width: 438px;
    height: 96px;
}

body main section:nth-child(4) button{
    background-color:white;
    color: #F3603B;
    border: none;
    padding: 12.50px 30.50px ;
    border-radius: 50px;
}

footer {
    background-color: #1E1E26;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 67px 196px;
}

body footer section:nth-child(1) div:nth-child(2) i{
    color: white;
    height: 20px;
    margin: 5.3px;
    margin-top: 88px;
}

body footer section:nth-child(2) ul{
    color: white;
    list-style: none;
    margin-left: 20px;
    line-height: 2rem;
    
}

body footer section:nth-child(3) ul{
    color: white;
    list-style: none;
    margin-left: 20px;
    line-height: 2rem;
}


body footer section:nth-child(4) form input:nth-child(1){
    background-color: white;
    border-radius: 50px;
    padding: 12.5px 48px 12.5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body footer section:nth-child(4) form input:nth-child(2){
    background-color:#F3603B;
    color: #FFFFFF;
    border: none;
    padding: 11.5px 22.5px;
    border-radius: 50px;
}

body footer section:nth-child(4) p{
    margin-top: 71px ;
    margin-left: 70px;
    color: #8C8C94;
    font-size: 12.5px;
}

@media (max-width:375px) {
      /*header {
          width: 100%;*/
    header nav{
        display: none;
    }

    body header div button{
        display: none; 
    }

    header {
        padding: 50px 300px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #menuIcon {
        display:inline-block;
        color: #232C50;
        font-size: 24px;
        padding-left: 300px;
    }

    .together{
        flex-direction: column-reverse;
        align-items: center;
        width: 600px;
    }

    #imagengrupal {
        align-items: center;
    }

    #bring {
        align-items: center;
        text-align: center;
    }

    #bring p {
        text-align: center;
        margin: 0;
        padding-left: 60px;
    }

    #bring p button{
        justify-content: center;
    }

    .aboutmanage {
        flex-direction: column;
        align-items: center;
        width: 580px;
    }
    .aboutmanage div:nth-child(1){
        margin-bottom: 50px;
    }
     main section:nth-child(3) article:nth-child(1){
         display: none;
     }

     main section:nth-child(3) article:nth-child(3){
        display: none;
    }

    body main section:nth-child(3) {
        width: 500px;
        align-items: center;
    }

    #botonfinal {
        display: inline-block;
        left: 200px;
    }
    
    body main section:nth-child(4) {
        width: max-content;
        /*width: 600px;*/
        padding:120px;
        background-color: #F3613C;
        flex-direction: column;
    }

    body main section:nth-child(4) button {
        margin-top: 50px;
    }

    footer {
        /*padding: 185px;*/
        flex-wrap: wrap-reverse;
        justify-content: center;
        position: relative;
        width: min-content;
        padding:200px;
    }
    
    .nav2{
        display: flex;
        flex-direction: column;
        order: 3;
        margin: 10px 10px;
    }
    .nav1{
        display: flex;
        flex-direction: column;
        order: 2;
        margin: 10px 10px;
    }

    .formfinal{
        display: flex;
       /* flex-direction: column-reverse;*/
      /*  justify-content: center;*/
      /* align-items: center;*/
        order: -2;
        margin-bottom: 20px;
        width: 90%;
    }

    .logofooter{
        /*display: flex;
        align-items: center;*/
        order: 4;
        margin: 0px 30px;
    }

   #copyright{
        position: absolute;
        bottom: 0px;
        margin: 20px;
    }

    #redsocial {
        flex-direction: column-reverse;
    }
    #formsection{
        position: absolute;
        top: 20px;
        margin: 20px;
    }

       
}